@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/* ====================================================================================== */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
ul li {
	list-style: none;
}
/* ====================================================================================== */
:root {
	--green-color: hsl(75, 94%, 57%);
	--white-color: hsl(0, 0%, 100%);
	--grey-color-700: hsl(0, 0%, 20%);
	--grey-color-800: hsl(0, 0%, 12%);
	--grey-color-900: hsl(0, 0%, 8%);

	/* Typography */
	--main-font: "Inter", sans-serif;
	--font-size: 14px;
	--font-size-big: 24px;
}
/* ====================================================================================== */
body {
	font-family: var(--main-font);
	font-size: var(--font-size);
	color: var(--white-color);
	line-height: 1.5;
	background-color: var(--grey-color-900);
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	padding-inline: 15px;
}
main {
	margin: auto;
}
.profile {
	padding: 40px;
	background-color: var(--grey-color-800);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	text-align: center;
	gap: 24px;
}
.profile__avatar {
	align-self: center;
	aspect-ratio: 1;
	width: 88px;
	border-radius: 50%;
	overflow: hidden;
}
.profile__about {
	text-transform: capitalize;
	font-weight: 700;
	color: var(--green-color);
}
.profile__about > *,
.profile__description p:not(:last-child) {
	margin-bottom: 4px;
}
.profile__about > *:last-child {
	margin-bottom: 0;
}
.profile__name {
	font-weight: 600;
	font-size: var(--font-size-big);
	color: var(--white-color);
}
.profile__list .profile__item:not(:last-child) {
	margin-bottom: 16px;
}
.profile__link {
	text-transform: capitalize;
	font-weight: 700;
	padding: 12px;
	background-color: var(--grey-color-700);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	transition:
		background-color 0.4s,
		color 0.4s;
}
.profile__link:hover,
.profile:focus {
	background-color: var(--green-color);
	color: var(--grey-color-700);
}
.attribution {
	padding-block: 5px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	transition: text-decoration 0.4s;
}
.attribution a:hover,
.attribution a:focus {
	text-decoration: underline;
}
/* Media queries */
@media (max-width: 400px) {
	.profile {
		padding: 24px;
	}
}
